<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">


	<servlet>
		<servlet-name>IndexServlet</servlet-name>                     <!-- On peut mettre ce qu'on veux comme nom ici -->
		<servlet-class>fr.meg.project.web.IndexServlet</servlet-class>    <!-- Mettre le chemin complet de la classe -->
	</servlet>
	
	<servlet>
		<servlet-name>CustomerServlet</servlet-name>                     <!-- On peut mettre ce qu'on veux comme nom ici -->
		<servlet-class>fr.meg.project.web.CustomerServlet</servlet-class>    <!-- Mettre le chemin complet de la classe -->
	</servlet>
	
	<servlet-mapping> 
  		 <servlet-name>IndexServlet</servlet-name> 
  		 <url-pattern>/articles</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping> 
  		 <servlet-name>CustomerServlet</servlet-name> 
  		 <url-pattern>/customer</url-pattern>
   </servlet-mapping>


</web-app>